@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Bricolage Grotesque", serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0 solid transparent;
}
